body {
	background-repeat: repeat-x;
}

p {
  margin: 10px 0 0;
  float: left;
}

a {
  text-decoration: none;
  cursor:pointer;
  float: left;
}

a:hover {
  text-decoration: underline;
}

ul {
  float:left;
  margin: 10px 0 10px 40px;
  padding: 0;
} 

li {
  list-style-type:disc;
} 

object {
  font-size: 0px;
}

img {
  font-size: 0px;
}

#wrapper {
  width:800px; 
  margin:0 auto;
}

#header {
  height:219px; 
  float:left;
}

#logo {
    float: left;
    width: 100px;
}

#email {
    float: right;
}

#email a:hover {
  text-decoration: none;
}

#nav {
  height:49px; 
  float:left;
  width: 800px;
}

#nav li {
  display: inline;
  list-style-type: none;
  float:left;
  margin-right: 25px;
}

#nav a {
  text-decoration: none;
}

#slideshow {
  font-size:0; 
  float:left;
  position: relative; 
  width: 800px;   
}

#slides {
    position:relative;
    height:220px;
}

#slideshow IMG {
    position:absolute;
    top:0;
    left:0;
    z-index:8;
}

#slideshow IMG.active {
    z-index:10;
}

#slideshow IMG.last-active {
    z-index:9;
}

#main_content {
  width:800px; 
  height:400px; 
  float:left;
}

#main_content h1 {
  margin: 0 0 17px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
  font-weight: normal;
}

#main_content .left{
  width:321px; 
  margin:30px 0 0 99px; 
  float:left;
}

#main_content .right{
  width:330px; 
  float:left; 
  margin:30px 0 0 50px;  
}

.twtr-widget a {
  float: none;
}

#footer {
  float:left; 
  width: 800px;
  height: 100px;
}

#footer_image {
  float:left; 
}

#footer img {
  width: 45px;
}

#footer_content {
  float:left; 
  text-align: center;
  margin: 25px 11px;
  font-size: 0.9em;
}


/* ---------------- Ofline ---------------- */
#offline {
  width: 600px;
  height: 200px;
  background-color: #f6f6f6;
  text-align: center;
  margin: 0 auto;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
  -moz-box-shadow: 8px 8px 3px #999;
  -webkit-box-shadow: 8px 8px 3px #999;
  box-shadow: 6px 6px 2px #999;  
  color: #4C4C4C;
}

#offile-title {
  float: left;
  display: inline;
  width: 440px;
  clear: right;
  padding-top: 12px;
  text-align: centre;  
}

#offile-title h1 {
  font-size: 1.8em;
}

#offile-content {
  float: left;
  display: inline;
  width: 580px;
  clear: left;
  height: 65px;
  padding-top:15px;
  font-size: 1.3em;
  text-align: left;
}
a.link {
  float: right;
  clear: left;
  text-align: left;
  color: #969696;
  margin-right: 3px;
}
